.chat-message-user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1rem;
}

.chat-message-robot {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.chat-message-text {
  background-color: rgb(238, 238, 238);
  padding: .6rem 1.3rem .3rem 1.3rem;
  border-radius: 0.6rem;
  margin: 0rem 1rem;
  max-width: 19rem;
  display: flex;
  flex-direction: column;
}

.message-time{
  color: grey;
  margin-top: .5rem;
  font-size: 1rem;
}

.chat-message-profile {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 1.6rem;
}
